/* TYPE SELECTORS */
h1 {
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: pink;
}

body {
    background: linear-gradient(180deg, #FFEEEE, #DDEFBB);
    height: 100vh;
}

/* CLASS SELECTORS */
.block {
    display: block;
    margin:auto;
    border-radius: 25px;
    width: min(70%, 500px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}
.recipe {
    padding: 5px;
    font-size: 1.5rem;
    color: black;
    background-color: #FFC0CB;
}

.nezukosRecipe{
    color: pink;
}
a {
    color: black;
    text-decoration: none;
}

/* ID SELECTORS */
#contents {
    margin-top: 2rem;
    height: 300px;
    border: 1px solid black;
    text-align: left;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

